<fieldset [formGroup]="group" class="form-group">
  <ng-container *ngIf="field?.options; else aloneRadio">
    <div class="radio-group">
      <ng-container *ngFor="let option of field?.options">
        <div class="radio">
          <input
            class="form-control"
            type="radio"
            [formControlName]="field?.name"
            [id]="id + '_' + option.value"
            [ngClass]="field?.classes"
            [dynamicFieldAttributes]="field?.attrs"
            [disableControl]="field?.disabled"
            [value]="option.value">
          <label
            [attr.for]="id + '_' + option.value">{{ option.description }}</label>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #aloneRadio>
    <div class="radio">
      <input
        class="form-control"
        type="radio"
        [formControlName]="field?.name"
        [id]="id"
        [ngClass]="field?.classes"
        [dynamicFieldAttributes]="field?.attrs"
        [disableControl]="field?.disabled">
      <label *ngIf="field.label" [attr.for]="id">{{ field.label }}</label>
    </div>
  </ng-template>
</fieldset>
