/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: none;
  box-sizing: border-box;
  padding: 0;
}

input,
textarea,
select {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background-color: #f8f9fa;
  color: #495057;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

input[disabled],
textarea[disabled],
select[disabled] {
  border-color: #e9ebec;
  background-color: #fdfdfd;
  color: #b3b3b3;
}

input[type=checkbox] {
  width: auto;
  margin: 0;
}

form fieldset {
  margin-bottom: 18px;
}

label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  color: #495057;
}

button {
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

